<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Login</title>

    <link th:rel="stylesheet" th:href="@{assets/bootstrap-select-1.13.18/css/bootstrap-select.css}"/>
    <link th:rel="stylesheet" th:href="@{webjars/bootstrap/4.0.0-2/css/bootstrap.min.css} "/>

    <style>
        .main {
            width: 700px;
            padding-top: 20px;
            margin: auto;
        }

        input {
            width: 200px;
            margin-bottom: 20px;
        }

        h2 {
            margin-bottom: 30px;
        }

    </style>
</head>
<body>

<div class="main container">
    <h2>Login with Username and Password</h2>
    <form name="form"
          class="form-group"
          th:action="@{/login}"
          method="POST">
        <label for="username">Username</label>
        <input type="text"
               name="username"
               value=""
               placeholder="Username"
               class="form-control"
               required
               id="username"/>
        <label for="password">Password</label>
        <input type="password"
               name="password"
               placeholder="Password"
               class="form-control"
               required
               id="password"/>
        <input type="submit"
               id="login"
               value="Login"
               class="btn btn-primary"/>
    </form>
    <h2>Don't have an account?</h2>
    <form
            th:action="@{/newuser}"
            method="POST">
        <input type="submit"
               id="new user"
               value="Create New User"
               class="btn btn-primary"
        />
    </form>
</div>

<script th:src="@{/webjars/jquery/jquery.min.js}"></script>
<script th:src="@{/webjars/popper.js/umd/popper.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/assets/bootstrap-select-1.13.18/js/bootstrap-select.js}"></script>

</body>
</html>